.list{
  text-align: center;
}

.list li{
  border:1px solid black;
list-style:none;
}

html{
  background-color: blue;
}

.routes nav ul li {
  color: white;
  background-color: yellow;
  border: 1px solid black;
  width: 100px;
}

.intro_home{
  text-align: center;
  background-image: url('https://previews.123rf.com/images/kreinick/kreinick1610/kreinick161000005/66546241-football-basketball-baseball-on-black-background.jpg');

}

.title{
  color: yellow;
}
nav{

}
